:host {
    .d-inline-block {
        display: inline-block !important;
    }

    .textbox-search {
        height: 30px;
        // width: 186px;
        padding-left: 5px;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid silver;
    }

    .dropdown-search {
        height: 30px;
        border-radius: 5px 0px 0px 5px;
        border: 1px solid silver;
        border-right: none;
    }

    .d-none {
        display: none;
    }

    .d-none-md {
        display: inherit;
    }

    .d-none-sm {
        display: none;
    }

    .custom-header {
        padding-top: 18px;
    }

    .button-menu-toggle {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        width: unset;
        margin-top: 5px;
    }

    .ml-70 {
        margin-left: 70px;
    }

    .custom-navbar-collapse {
        width: inherit;
    }

    @media (max-width: 992px) {
        .d-none-md {
            display: none;
        }

        .d-none-sm {
            display: inherit;
        }

        .custom-header {
            display: none;
        }

        .custom-navbar-collapse {
            width: 100%;
        }
    }
}