<div class="header-wrapper header-transparent solid-color" style="top: 0;">
    <!-- .header.header-style01 start -->
    <header id="header" class="header-style01">
        <!-- .container start -->
        <div class="container">
            <!-- .main-nav start -->
            <div class="main-nav" style="margin-top: 10px;">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default nav-left" role="navigation">

                            <!-- .navbar-header start -->
                            <div class="navbar-header custom-header">
                                <div class="logo">
                                    <a href="/">
                                        <img class="d-none-md" src="assets/logo/logo.png"
                                            alt="ChinaExpress" />
                                    </a>
                                </div><!-- .logo end -->
                            </div><!-- .navbar-header start -->

                            <!-- MAIN NAVIGATION -->
                            <div class="collapse navbar-collapse custom-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown menu-item current-menu-item">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">TRANG CHỦ</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="menu-link" routerLink="/trang-chu">Trang chủ</a></li>
                                            <li><a class="menu-link" routerLink="/gioi-thieu">Giới thiệu</a></li>
                                        </ul><!-- .dropdown-menu end -->
                                    </li><!-- .dropdown end -->

                                    <li class="dropdown menu-item">
                                        <a class="menu-link" routerLink="/chinh-sach">SẢN PHẨM</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="menu-link" routerLink="/chinh-sach/quy-dinh-doi-voi-don-hang-order">
                                                    ĐĂNG KHOA THÀNH TÀI
                                                </a>
                                            </li>
                                            <li>
                                                <a class="menu-link" routerLink="/chinh-sach/quy-dinh-van-chuyen-va-thanh-toan-ho">
                                                    BẢO HIỂM CORONA 
                                                </a>
                                            </li>
                                            <li>
                                                <a class="menu-link"
                                                    routerLink="/chinh-sach/china-express---chinh-sach-mua-hang-voi-don-hang-ngoai">GÓI DÀNH RIÊNG CHO PHỤ NỮ
                                                </a>
                                            </li>
                                            <li>
                                                <a class="menu-link" routerLink="/chinh-sach/bang-gia--chinh-sach-van-chuyen-tu-vn-sang-tq">GÓI TRẺ EM</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a class="menu-link" routerLink="/huong-dan" data-toggle="dropdown"
                                            class="dropdown-toggle">BẢO HIỂM XE MÁY</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="menu-link" routerLink="/huong-dan/huong-dan-tao-don-dat-hang">
                                                    BẢO HIỂM BẮT BUỘC
                                                </a>
                                            </li>
                                            <li>
                                                <a class="menu-link" routerLink="/huong-dan/huong-dan-tao-don-hang-ky-gui">
                                                    BẢO HIỂM TỰ NGHUYỆN
                                                </a>
                                            </li>
                                        </ul><!-- .dropdown-menu end -->
                                    </li><!-- .dropdown end -->

<!--                                     <li class="dropdown menu-item">
                                        <a class="menu-link" routerLink="/bang-gia" data-toggle="dropdown"
                                            class="dropdown-toggle">BẢNG GIÁ</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="menu-link" routerLink="/bang-gia"
                                                    fragment="bang-gia-don-hang">Bảng giá Đơn hàng</a></li>
                                            <li><a class="menu-link" routerLink="/bang-gia"
                                                    fragment="bang-gia-don-hang-ky-gui">Bảng giá
                                                    Đơn hàng ký gửi</a>
                                            </li>
                                            <li><a class="menu-link" routerLink="/bang-gia"
                                                    fragment="bang-gia-theo-cap-do-khach-hang">Bảng giá
                                                    theo Cấp độ
                                                    khách hàng</a></li>
                                            <li><a class="menu-link" routerLink="/bang-gia"
                                                    fragment="bang-gia-ship-noi-thanh">Bảng giá
                                                    Ship nội thành</a></li>
                                        </ul>
                                    </li>
 -->
                                    <li class="menu-item"><a class="menu-link" routerLink="/thong-bao">THÔNG BÁO</a>
                                    </li>

                                    <li class="menu-item"><a class="menu-link" routerLink="/tin-tuc">TIN TỨC</a></li>

                                    <li class="menu-item"><a class="menu-link" routerLink="/lien-he">LIÊN HỆ</a></li>
                                </ul><!-- .nav.navbar-nav end -->

                                <!-- RESPONSIVE MENU -->
                                <div id="dl-menu" class="dl-menuwrapper">
                                    <button class="dl-trigger button-menu-toggle d-inline-block"></button>
                                    <a href="/">
                                        <img class="d-none-sm d-inline-block ml-70"
                                            src="assets/images/bg_img2.jpg" alt="Cathay" />
                                    </a>
                                    <ul class="dl-menu">
                                        <li>
                                            <a routerLink="#">TRANG CHỦ</a>
                                            <ul class="dl-submenu">
                                                <li><a routerLink="/trang-chu">Trang chủ</a></li>
                                                <li><a routerLink="/gioi-thieu">Giới thiệu</a></li>
                                            </ul><!-- dl-submenu end -->
                                        </li>

                                        <li><a routerLink="/chinh-sach">CHÍNH SÁCH</a></li>

                                        <li>
                                            <a routerLink="#">HƯỚNG DẪN</a>
                                            <ul class="dl-submenu">
                                                <li><a routerLink="/huong-dan">Hướng dẫn</a></li>
                                                <li><a routerLink="/huong-dan/huong-dan-tao-don-hang">Hướng dẫn tạo Đơn
                                                        hàng</a></li>
                                                <li><a routerLink="/huong-dan/huong-dan-tao-don-ky-gui">Hướng dẫn tạo
                                                        Đơn ký gửi</a></li>
                                            </ul><!-- dl-submenu end -->
                                        </li>

                                        <li><a routerLink="/bang-gia">BẢNG GIÁ</a></li>

                                        <li><a routerLink="/thong-bao">THÔNG BÁO</a></li>

                                        <li><a routerLink="/tin-tuc">TIN TỨC</a></li>

                                        <li><a routerLink="/lien-he">LIÊN HỆ</a></li>
                                    </ul><!-- .dl-menu end -->
                                </div><!-- #dl-menu end -->

                                <!-- #search start -->
<!--                                 <div id="search">
                                    <form (keyup.enter)="onSearch()" [formGroup]="searchProduct" action="#">
                                        <input class="search-submit" type="submit" />
                                        <div id="m_search">
                                            <div class="d-inline-block">
                                                <select class="dropdown-search text-uppercase"
                                                    formControlName="searchSite">
                                                    <option [ngValue]="s" *ngFor="let s of searchSites">{{ s.text }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="d-inline-block">
                                                <input name="keyword" type="text" class="textbox-search"
                                                    placeholder="Nhập sản phẩm cần tìm" formControlName="searchText" />
                                            </div>
                                        </div>
                                    </form>
                                </div> -->
                                <!-- #search end -->
                            </div><!-- MAIN NAVIGATION END -->
                        </nav><!-- .navbar.navbar-default end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .main-nav end -->
        </div><!-- .container end -->
    </header><!-- .header.header-style01 -->
</div><!-- .header-wrapper end -->