<div class="modalDialog" [hidden]="!isShowOnModal">

  <div>
    <div class="modalDialogHeader">
      <a title="Close" class="close" (click)="onClose(true);"><i class="mdi mdi-close mdi-24px"></i></a>
      <h2 class="modalDialogTitle" style="text-align: center;color: #833C0B;">{{ title }}</h2>
    </div>
    <div class="modalDialogContent">
      <div [innerHTML]="contentHTML | safeHtml"></div>
    </div>
    <div class="modalDialogFooter">
      <a class="btn btn-small btn-close btn-centered d-inline-block mr-1" (click)="onClose(true);">ĐÓNG</a>
      <a class="btn btn-small btn-close btn-centered d-inline-block" (click)="onClose(false);">ĐÓNG & KHÔNG HIỆN LẠI</a>
    </div>
  </div>
</div>