:host {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: auto;
    .modalDialogHeader,
    .modalDialogContent,
    .modalDialogFooter {
      padding-left: 20px;
      padding-right: 20px;
    }
    .modalDialogContent {
      color: #000 !important;
      height: 80% !important;
      overflow-y: auto !important;
    }
  }
  .modalDialog > div {
    padding-top: 20px;
    max-width: 1000px;
    width: 90%;
    position: relative;
    margin: 5% auto;
    //padding: 20px;
    border-radius: 3px;
    background: #fff;
    height: 80vh;
  }
  .close {
    font-family: Arial, Helvetica, sans-serif;
    background: #d63a3b;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
  }
  .close:hover {
    background: #d63a3b;
    cursor: pointer;
  }
  .modalDialogFooter {
    text-align: right;
  }

  .d-inline-block {
    display: inline-block;
  }

  .btn-close {
    background-color: #d63a3b !important;
    color: #ffffff;
    border-radius: 3px;
  }

  .btn-close:hover {
    background-color: #d63a3b !important;
    color: #ffffff;
    cursor: pointer;
  }
  .mr-1 {
    margin-right: 5px;
  }
}
