<div id="footer-wrapper" class="footer-dark">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <ul class="col-md-3 col-sm-6 footer-widget-container clearfix">
                    <!-- .widget.widget_text -->
                    <li class="widget widget_newsletterwidget">
                        <a href="https://www.cathaylife.com.vn/cathay/">
                            <img src="assets/logo/logo.png" alt="Cathay"/>
                        </a>

                        <p>
                           Cathay là tập đoàn tiên phong trong lĩnh vực bảo hiểm tại Việt Nam.
                        </p>

                        <br />

                        <!-- <form class="newsletter">
                            <input class="email" type="email" placeholder="Your email...">
                            <input type="submit" class="submit" value="">
                        </form> -->
                    </li><!-- .widget.widget_newsletterwidget end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <!-- .widget-pages start -->
                    <li class="widget widget_pages">
                        <div class="title">
                            <h3>Liên kết nhanh</h3>
                        </div>

                        <ul>
                            <li><a routerLink="/gioi-thieu">Giới thiệu</a></li>
                            <li><a routerLink="/chinh-sach">Chính sách</a></li>
                            <li><a routerLink="/huong-dan">Hướng dẫn</a></li>
                            <li><a routerLink="/bang-gia">Bảng giá</a></li>
                            <li><a routerLink="/thong-bao">Thông báo</a></li>
                            <li><a routerLink="/tin-tuc">Tin tức</a></li>
                            <li><a routerLink="/dang-ky-tai-khoan">Đăng ký tài khoản</a></li>
                        </ul>
                    </li><!-- .widget-pages end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <li class="widget widget-text">
                        <div class="title">
                            <h3>Liên hệ</h3>
                        </div>

                        <p class="pt-0 ">Số điện thoại</p>
                        <span class="text-big">
                            <a href="tel:+84705882001">(070) 588 2001</a>
                        </span>

                        <p>Liên hệ Zalo</p>
                        <span class="text-big">
                            <a href="tel:+842473091688">(024) 7309 1688</a>
                        </span>

                        <p>Liên hệ messenger</p>
                        <span class="text-big">
                            <a href="tel:+84948322166">0948 322 166</a>
                        </span>

                        <p>Liên hệ skype</p>
                        <span class="text-big">
                            <a href="tel:+84908322166">0908 322 166</a>
                        </span>
                        <br />

                        <a href="mailto:kieucathay@gmail.com">kieucathay@gmail.com</a>
                        <br />
                        <ul class="footer-social-icons">
                            <li><a href="https://www.facebook.com/kieucathay" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                        </ul><!-- .footer-social-icons end -->
                    </li><!-- .widget.widget-text end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <li class="widget widget-text">
                        <div class="title">
                            <h3>Địa chỉ</h3>
                        </div>

                        <address>
                            Hà Nội: Ngõ 235 Nguyễn Trãi, <br />
                            Q.Thanh Xuân - TP.Hà Nội
                        </address>

                        <br />

                        <address>
                            Hồ Chí Minh: Số 196/27A Cộng Hòa, <br />
                            Q.Tân Bình - TP.Hồ Chí Minh
                        </address>
                    </li><!-- .widget.widget-text end -->
                </ul><!-- .col-md-3.footer-widget-container end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </footer><!-- #footer end -->

    <div class="copyright-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copy right 2019. All RIGHTS RESERVED.</p>
                </div><!-- .col-md-6 end -->

                <div class="col-md-6">
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .copyright-container end -->

    <a href="#" class="scroll-up">Scroll</a>
</div><!-- #footer-wrapper end -->