:host {
    .header-top {
        position: relative;
        z-index: 1000;
        background-color: #28a745;
        height: 45px;
        width: 100%;
    }

    @media (max-width: 575px) {
        .header-top {
            position: relative;
            z-index: 1000;
            background-color: #28a745;
            height: 85px;
            width: 100%;
        }

        .sm-mode {
            display: none;
        }
    }

    @media (min-width: 576px) {
        .xs-mode {
            display: none;
        }
    }

    .d-inline-block {
        display: inline-block;
    }

    .mr-1 {
        margin-right: 5px;
    }

    .ml-3 {
        margin-left: 15px;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .text-white {
        color: #ffffff;
    }

    .btn-small {
        padding: 4px 15px;
        font-size: 11px;
    }

    .btnLogin {
        color: white;
    }

    .d-none-sm {
        display: initial;
    }

    @media (max-width: 576px) {
        .d-none-sm {
            display: none;
        }
    }
}