<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 text-left" style="padding-top: 12px;">
        <i class="mdi mdi-cash mr-1 text-white"></i>
         <span class="text-white">Chuyên viên tư vấn: Trần Thị Kiều</span>
        <i class="mdi mdi-phone ml-3 mr-1 text-white" style="padding-left: 0.5rem;"></i>
        <span class="text-white">
          Liên hệ hot line: (070) 2582 001
        </span>
      </div>

      <div class="col-md-6 col-sm-6 text-right sm-mode" style="padding-top: 7px; padding-left: 0;" *ngIf="!isLoggedIn">
        <a routerLink="/dang-ky-tai-khoan" class="btnLogin btn btn-small btn-danger btn-centered d-inline-block mr-1"><i
            class="mdi mdi-account-plus mr-1"></i>ĐĂNG KÝ</a>
        <a href="{{loginLink}}" class="btnLogin btn btn-small btn-danger btn-centered d-inline-block"><i
            class="mdi mdi-login mr-1"></i>ĐĂNG NHẬP</a>
      </div>

      <div class="col-xs-12 xs-mode" style="padding-top: 7px; padding-left: 0;" *ngIf="!isLoggedIn">
        <div class="col col-xs-6 text-center">
          <a routerLink="/dang-ky-tai-khoan" class="btnLogin btn btn-small btn-danger btn-centered d-inline-block mr-1"
            style="width: 100%;"><i class="mdi mdi-account-plus mr-1"></i>ĐĂNG KÝ</a>
        </div>
        <div class="col col-xs-6 text-center">
          <a href="{{loginLink}}" class="btnLogin btn btn-small btn-danger btn-centered d-inline-block"
            style="width: 100%;"><i class="mdi mdi-login mr-1"></i>ĐĂNG NHẬP</a>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 text-right" style="padding-top: 7px; padding-left: 0;" *ngIf="isLoggedIn">
        <a routerLink="/dang-ky-tai-khoan" class="btnLogin btn btn-small btn-yellow btn-centered d-inline-block mr-1"><i
            class="mdi mdi-account-plus mr-1"></i>QUẢN LÝ ĐƠN HÀNG</a>
        <a class="btnLogin btn btn-small btn-yellow btn-centered d-inline-block"><i
            class="mdi mdi-login mr-1"></i>THOÁT</a>
      </div>
    </div>
  </div>
</div>